<!-- Page Sidebar -->
<style>
    .post-div{
        transition: all 0.4s ease;
    }
    .post-div:hover{
        cursor: pointer;
        background: #6f6b6b;
        color: #fff;
    }
</style>
<div class="page-inner" ng-controller="mainController">
    <div class="page-breadcrumb">
        <ol class="breadcrumb container">
            <li><a href="index.html">Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </div>
    <div class="page-title">
        <div class="container">
            <h3>{{loggedInUser.handle}}'s Dashboard</h3>
        </div>
    </div>
    <div id="main-wrapper" class="container" ng-init="getUserProfile();" style="margin-top: 1%">
        <div class="row">
            <!-- {{profileData | json}} -->
            <div class="col-md-12">
                <h4>Stats Overview</h4>
                <hr>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel info-box panel-white">
                    <div class="panel-body">
                        <div class="info-box-stats">
                            <p class="counter">{{profileData.share_count}}</p>
                            <span class="info-box-title">Total Shares</span>
                        </div>
                        <div class="info-box-icon">
                            <i class="icon-users"></i>
                        </div>
                        <div class="info-box-progress">
                            <div class="progress progress-xs progress-squared bs-n">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel info-box panel-white">
                    <div class="panel-body">
                        <div class="info-box-stats">
                            <p class="counter">${{profileData.share_count * 0.01}}</p>
                            <span class="info-box-title">Total ethers</span>
                        </div>
                        <div class="info-box-icon">
                            <i class="icon-eye"></i>
                        </div>
                        <div class="info-box-progress">
                            <div class="progress progress-xs progress-squared bs-n">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel info-box panel-white">
                    <div class="panel-body">
                        <div class="info-box-stats">
                            <p>$<span class="counter">{{profileData.credited_count * 0.01}}</span></p>
                            <span class="info-box-title">Ethres Withdrawn</span>
                        </div>
                        <div class="info-box-icon">
                            <i class="icon-basket"></i>
                        </div>
                        <div class="info-box-progress">
                            <div class="progress progress-xs progress-squared bs-n">
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel info-box panel-white">
                    <div class="panel-body">
                        <div class="info-box-stats">
                            <p class="counter">{{posts.count - profileData.share_count}}</p>
                            <span class="info-box-title">Pending Posts</span>
                        </div>
                        <div class="info-box-icon">
                            <i class="icon-envelope"></i>
                        </div>
                        <div class="info-box-progress">
                            <div class="progress progress-xs progress-squared bs-n">
                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Row -->
        <div class="row">
            <div class="col-md-12">
                <h4>All Posts</h4>
                <hr>
            </div>
            <div class="col-md-6" ng-repeat="post in posts">
                    <div class="panel panel-white post-div" ui-sref="app.post({ postId : post._id })">
                        <!-- <a class="post-div"> -->
                        <div class="panel-heading">
                            <h3 class="panel-title">{{post.title}}</h3>
                        </div>
                        <div class="panel-body">
                            <p>{{post.description | limitTo: 200}}..</p>
                        </div>                         
                        <!-- </a> -->
                    </div>
            </div>
        </div>
    </div>
    <!-- Main Wrapper -->
</div>