<main class="page-content" ng-controller="mainController">
    <div class="page-inner">
        <div id="main-wrapper">
            <div class="row">
                <div class="col-md-3 center">
                    <div class="login-box">
                        <a href="index.html" class="logo-name text-lg text-center">Modern</a>
                        <p class="text-center m-t-md">Create a Modern's account</p>
                        <div class="alert alert-success" ng-if="message.length > 0">{{message}}</div>
                        <form class="m-t-md" ng-if="!message.length > 0">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Username" ng-model="formData.handle" required>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email" ng-model="formData.email" required>
                            </div>
                            <div class="form-group">
                                <input type="tel" class="form-control" placeholder="Phone" ng-model="formData.phone" required>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password" ng-model="formData.password" required>
                            </div>
                            <label>
                                <input type="checkbox"> Agree the terms and policy
                            </label>
                            <button type="submit" ng-click="register()" class="btn btn-success btn-block m-t-xs">Submit</button>
                            <a ui-sref="registerClient" class="m-t-xs btn btn-default btn-block m-t-xs">Register As Client</a>
                            <p class="text-center m-t-xs text-sm">Already have an account?</p>
                            <a ui-sref="login" class="btn btn-default btn-block m-t-xs">Login</a>
                        </form>
                        <form class="m-t-md" ng-if="message.length > 0">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Phone verification code" ng-model="verificationCode" required>
                            </div>
                            <button type="submit" ng-click="verifyPhone(verificationCode, formData.phone)" class="btn btn-success btn-block m-t-xs">Verify</button>
                        </form>
                        <p class="text-center m-t-xs text-sm">2015 &copy; Modern by Steelcoders.</p>
                    </div>
                </div>
            </div>
            <!-- Row -->
        </div>
        <!-- Main Wrapper -->
    </div>
    <!-- Page Inner -->
</main>
<!-- Page Content -->